<!DOCTYPE html>
<html>
<head>
  <title>SampleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'SampleApp', root_path, class: 'navbar-brand' %>
        </div>

        <ul class="nav navbar-nav navbar-right">
  				<li><%= link_to 'イベントを作る', new_event_path %></li>
          <% if logged_in? %>
  				  <li class="active"><%= link_to 'ログアウト', logout_path %></li>
          <% else %>
            <li class="active"><%= link_to 'Twiterを用いてログイン', 'auth/twitter' %></li>
          <% end %>
			  </ul>
    </div>
  </header>

  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
